
 <!-- Navigation -->

     <div class="shadow">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">

     
       <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                    <img src="../static/images/petfinderLogoSmall.png" alt="">
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/logout">Log Out</a>
                    </li>
                    <li>
                        <a href="/">Contact</a>
                    </li>
                    <li>
                    <!-- need to pass in username to add to href=/search/username -->
                        <a href="/">Search</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <div class="container-fluid text-center">
        <div class="jumbotron-fluid">
            <h1>Pets</h1>
            <br>
            {{#each pets}}
            <div class="col-lg-3 col-md-4 col-xs-8 thumb crop">
                <img class="petPicture thumbnail image" width="200px" height="200px" src="{{this.petPicture}}" alt="">
                <p class="phone">Phone: {{this.phone}}<br>
                Email: <a href="mailto:{{this.email}}" target ="_top">{{this.email}}</a><br>
                Address: {{this.address}}</p> 
                <div class="favs">
                 <!-- need to 1.) find out what the pet id is called and place somewhere in that form (maybe where it is maybe somewhere else) 2.) create a post route for foundAnimals/...so that an entry is recorded in the favorites table. 3.) need to add a boolean to the table? maybe not...but must associate the pet with user and many users may like the same pet so have to change the associations-->
                    <form action="/foundAimals/{{this.petId}}" method="POST">
                      <input type="hidden" name="favorite" value="true">
                      <button type="submit" class="btn btn-default">Favorite <span class="glyphicon glyphicon-thumbs-up"></span></button>
                    </form>
                    <br>
                </div>

            </div>
            {{/each}}
        </div>
    </div>

   